<mat-toolbar color="primary">
  {{ title }} {{data.Products.length}}
</mat-toolbar>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell"   *ngFor="let product of data.Products">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.Product_Name}}</mat-card-title>
                <mat-card-subtitle>Product Code :{{product.Product_Code}}</mat-card-subtitle>
              </mat-card-header>
              
          <img 
            src={{product.Image}}
            alt={{product.Product_Name}} width="400px" height="600px"
            mat-card-image>
            <mat-card-content>
                <p>Location : {{product.Location}}
                </p>
                <p>Rent : {{product.Rent}}
                  </p>
                  <p>Loction : {{product.Product_Category}}
                    </p>

              </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
  
